
body {
background: rgb(254, 240, 255);
font-family: "Squada One", sans-serif;
/*font-family: "Notable", sans-serif;*/
/*font-weight: 400;*/

font-style:italic;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#first {
    width: 70px;
    
}
#second {
    width: 70px;
    
}
#logo {
    margin: auto;
    width: 200px;
    margin-top: 20px;

   
}

#desc {
    text-align: center;
    font-size: 30px;
}

#play_button {
    max-width: 450px;
    margin: auto;
    margin-top: 0;
    width:80%;
    height:200px;
    font-size: 130px;
    transition: all 300ms ease-in;
    text-align: center;
    box-sizing:border-box ;
    padding-top:30px;
    border-radius: 40px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#word1 {
    font-family: "Yeseva One", serif;
    margin: auto;
    width:80%;
    margin-bottom: 40px;
    max-width:450px;
    height: 50px;
    transition: all 300ms ease;
    text-align: center;
    box-sizing:border-box ;
    padding-top: 15px;
    display: none;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#word2 {
    font-family: "Yeseva One", serif;
    margin: auto;
    width:80%;
    margin-bottom: 40px;
    max-width:450px;
    height: 50px;
    transition: all 300ms ease;
    text-align: center;
    box-sizing:border-box ;
    padding-top:15px;
    display: none;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#word3 {
    font-family: "Yeseva One", serif;
    margin: auto;
    width:80%;
    margin-bottom: 40px;
    max-width:450px;
    height: 50px;
    transition: all 300ms ease;
    text-align: center;
    box-sizing:border-box ;
    padding-top:15px;
    display: none;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}

#color {
  
    margin: 0.2em;
    position: absolute;
    scale: 70%;
    box-sizing:border-box ;
    padding-top: 0.5em;
    height: 80px;
    width:100px;
    justify-content: center;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#picker {
    margin-left: 1.5em;
    width:60px;
    background-color:rgb(254, 240, 255);
    border: 0px;
    box-shadow:  -20px -20px -18px rgb(234, 175, 234),
                 9px 9px 18px #ffffff;
}
#app {
    font-size: 30px;
 
    
   
    text-align: center;
  
    
   
}
#word4 {
    font-family: "Yeseva One", serif;
    margin: auto;
    margin-bottom: 40px;
    width:80%;
    max-width:450px;
    height: 50px;
    transition: all 300ms ease;
    text-align: center;
    box-sizing:border-box ;
    padding-top:15px;
    display: none;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#guess {
   
    font-size: 30px;
    margin: auto;
    margin-bottom: 40px;
    width:80%;
    height: 80px;
    max-width:450px;
    text-align: center;
    box-sizing:border-box ;
    padding-top:25px;
    display: none;
    border-radius: 15px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}
#answer {
    font-size: 30px;
    font-family: "Yeseva One", serif;
    transition: all 300ms ease-in-out;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    padding-top: 20px;
    width:80%;
    height: 400px;
     max-width: 450px;
    text-align: center;
    display: none;
    border-radius: 40px;
    background: rgb(254, 240, 255);
    box-shadow:  9px 9px 18px rgb(234, 175, 234),
                 -9px -9px 18px #ffffff;
}

#ru {
    
   
    margin-top: -2px;
    text-align: left;
}

#eng {
    font-family: "Squada One", sans-serif;
    font-size: 30px;
}
#ans {
    margin-top: 10%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom:60px;
    height: 200px;
}

.otv {
    font-size: 40px;
}

#play_button:hover {
	font-size: 120px;
    width: 430px;
    height: 192px;
    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
}
#word1:hover {

    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
}
#word2:hover {
    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
}
#word3:hover {
	
    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
}
#word4:hover {
	
    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
}
#answer:focus {
	display: none;
    box-shadow:  0 0 0 rgb(234, 175, 234),
    0 0 0 #ffffff;
    
}
@media (max-width: 800px) {
    #logo {
        margin: auto;
        width: 30%;
        margin-top: 20px;
    
       
    }
    #desc {
        font-size: 7vw;
        margin-bottom: 10vw;
    }
   /* #play_button {
        margin-top: 8em;
        
    }*/
  /* #word1 {
        height: 60%;
    }*/
}